div.leaderboard {
    width: 60%;
    margin: 40px auto 10px auto;
    background-color: #123b50;
    color: #469acc;
    padding: 10px 0 0 0;
}

.leaderboard h2 {
    text-align: center;
}

ul.high-scores {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

li.high-score {
    font-size: 26px;
    display: flex;
    flex-direction: row;
}

.high-scores span {
    text-align: center;
    margin: 10px;
    width: 35%;
}

span.rank {
    width: 25%;
}

@media screen and (max-width: 650px) {
    div.leaderboard {
        width: 100%;
    }
}