div.user-page {
    margin: 40px auto;
}

.user-page h2 {
    text-align: center;
}

ul.user-scores {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

li.user-score {
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.user-scores span {
    text-align: center;
    margin: 10px;
    width: 50%;
}

@media screen and (max-width: 650px) {
    li.user-score {
        font-size: 16px;
    }
}