.game {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile {
    border: 1px solid black;
    width: 20%;
    height: 70px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    line-height: 70px;
}

.soil {
    background-color: rgb(126, 88, 61);
}

.sandstone {
    background-color: rgb(248, 243, 200);
}

.limestone {
    background-color: rgb(195, 215, 221);
}

.granite {
    background-color: rgb(122, 122, 122);
}

.quartz {
    background-color: rgb(252, 236, 238);
}

.button-row {
    display: flex;
    flex-direction: row;
    margin: 0 40px;
}

.shift-button-vert {
    width: 20%;
    text-align: center;
}

.shift-button-hor {
    height: 70px;
    padding: 10px 0;
}

button.shift-button {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: none;
    overflow: hidden;
    outline: none;
}

.skip-button {
    cursor: pointer;
    align-self: center;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px 6px;;
    font-size: 15px;
    box-shadow: 2px 2px lightgray;
}

img.chevron {
    width: 30px;
    text-align: center;
    margin: 10px 0 5px 0;
}

.river-start {
    background-color: blue;
}

.river-end {
    background-color: lightblue;
}

.river-tile {
    background-color: blue;
}

.target-tile {
    border: 2px solid red;
}

.final-hidden {
    display: none;
}

.final-screen {
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    z-index: 1;
    left: 0;
    top: 120px;
    padding-top: 60px;
    color: white;
    text-align: center;
}

a.game-over-link {
    display: block;
    color: lightblue;
    font-size: 18px;
}

@media screen and (max-width: 650px) {
    div.game {
        width: 100%;
    }
}

