.game {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile {
    border: 1px solid #183644;
    width: 20%;
    height: 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    align-self: center;
    line-height: 70px;
    color: #183644;
    text-shadow:
   -1px -1px 0 rgb(253, 253, 253),  
    1px -1px 0 rgb(253, 253, 253),
    -1px 1px 0 rgb(253, 253, 253),
     1px 1px 0 rgb(253, 253, 253);
}

.soil {
    background-image: url('https://i.imgur.com/I0VA0cp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(109, 80, 60);
}

.sandstone {
    background-image: url('https://i.imgur.com/ZYx5pHZ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(248, 245, 212);
}

.limestone {
    background-image: url('https://i.imgur.com/S89yk6j.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(195, 215, 221);
}

.granite {
    background-image: url('https://i.imgur.com/3pf1CbM.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(122, 122, 122);
}

.quartz {
    background-image: url('https://i.imgur.com/Jisbqvv.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(252, 236, 238);
}

.button-row {
    display: flex;
    flex-direction: row;
    margin: 0 42px;
}

.shift-button-vert {
    width: 20%;
    text-align: center;
}

.shift-button-hor {
    height: 70px;
    padding: 10px 0;
}

button.shift-button {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: none;
    overflow: hidden;
    outline: none;
}

.skip-button {
    cursor: pointer;
    align-self: center;
    background-color: lightgray;
    border: 2px solid #183644;
    border-radius: 4px;
    padding: 3px 6px;;
    font-size: 15px;
    box-shadow: 2px 2px lightgray;
    margin: 10px 0 0 0;
}

img.chevron {
    width: 30px;
    text-align: center;
    margin: 10px 0 5px 0;
}

.river-start {
    background-color: #123b50;
}

.river-end {
    background-color: #469acc;
}

.river-tile {
    background-image: url('https://i.imgur.com/mL9cpaG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(1, 77, 100);
}

.target-tile {
    border: 2px solid rgb(4, 245, 253);
}

.final-hidden {
    display: none;
}

.final-screen {
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 1;
    left: 0;
    top: 87px;
    padding-top: 60px;
    color: white;
    text-align: center;
}

a.game-over-link {
    display: block;
    color: lightblue;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}

span.score-factor {
    margin: 10px;
}

.color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px 15px -5px 8px;
}

.setup-reminders {
    margin: 20px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

form.map-selection {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
    width: 60%;
    max-width: 350px;
}

.map-selection input, .map-selection label, .map-selection select, .map-selection button {
    margin: 10px;
}

.map-selection button {
    width: 150px;
    margin: 10px auto;
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px 6px;;
    font-size: 15px;
    box-shadow: 2px 2px lightgray;
}

div.map-preview {
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 400px;
}

.map-preview img {
    width: 100%;
}

@media screen and (max-width: 850px) {
    .final-screen {
        top: 106px;
    }
}

@media screen and (max-width: 650px) {
    div.game {
        width: 100%;
    }

    .final-screen {
        top: 0px;
    }

    div.map-preview {
        margin: 0 auto;
        width: 100%;
    }
}

