nav {
    margin: 0 0 3px 0;
}

.full-nav a:link {
    display: inline-block;
    margin: 0 8px 2px 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #a17453;
}

.full-nav a:visited {
    color: #a17453;
}

.full-nav a:hover {
    color: #469acc;
}