header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #123b50;
    align-items: flex-end;
}

img.logo {
    width: 100%;
}

a:link.logo {
    width: 40%;
    max-width: 310px;
}

@media screen and (max-width: 850px) {
    a:link.logo {
        width: 65%;
        max-width: 380px;
    }
}