header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

img.logo {
    margin-bottom: -8px;
    margin-left: -5px;
    width: 100%;
}

link.logo {
    width: 40%;
}