@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One|Titillium+Web&display=swap');

html, #root {
  height: 100%;
  background-color: #dee6eb;
}

* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #183644;
}

p {
  font-size: 18px;
  line-height: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

li {
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
